.star-rating {
    font-size: 22px;
    color: #d1d5db;
    display: flex;
    gap: 5px;
  }
  
  .star {
    cursor: pointer;
    transition: 0.2s;
  }
  
  .star.filled {
    color: gold;
  }
  
  .star:hover {
    transform: scale(1.2);
  }
  